html{
	font-size: 62.5%;
	height: 100%;
}
body{
	height: 100%;
	width: 100%;
}
ul li{
	list-style: none;
}
.cl::before,.cl::after{
	content:"";
	display: block;
	clear:both;
}
/*清除浮动*/
/*重置属性*/

header{
	width: 100%;
	background:#3e98f0;
	height: 3.5rem;
	color: #FFFFFF;
	line-height: 3.5rem;
	background:#3e98f0;
	text-align: center;
}
header>img{
	margin-bottom: -0.5rem;
}
/*百度logo位置*/
.hdleft{
	float: left;
	margin:0 0.5rem;
}
.hdRight{
	float: right;
	margin:0 0.5rem;
}
/*font图标位置*/
nav{
	width: 100%;
	background: #3E98F0;
	line-height: 1.2rem;
	font-size: 1.3rem;
	padding: 0.8rem 0;
	border-top: 1px solid #5DABF0;
	
}
nav>ul{
	width: 100%;
	padding: 0;
	display: flex;
	margin:0;
}
nav>ul>li{
	-webkit-flex: 1;
	font-size: 1.5rem;
	color: #FFFFFF;
	text-align: center;
	border-right: 1px solid #5dabf0;
}
.content{
	margin: 0;
	padding: 0 1.3rem;
	margin-top: 10px;
}
.content h1{
	font-size: 1.3rem;
}
.news{
	display: flex;
}
.img{
	flex: 1;
}
.newsct{
	flex: 2;
}
